# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly libraries by Data Science
- Using code in Python

# Some of the most popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala

# Some of the most commonly used libraries by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn

|Data Science Tools|
|----|
|MySQL|
|CouchDB|
|cassandra|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This is a simple arithmetic expression to mutliply then add integars
(3*4)+5

17

In [5]:
# This will covert 200 mintues to hours by diving by 60
200/60

3.3333333333333335

## Author
## Terry Thilges